<h2><%= @article.title %></h2>
<p><%= @article.content %>
<h3><%= link_to "Edit", edit_article_path(@article) %> <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %></h3>
<h3><%= link_to "Back", articles_path %></h3>
